@import "fuentes";
@import "header";
@import "main";
@import "footer";

* {
    max-width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.espacio {
    height: 70px;
}

.interEspaciado {
    height: 20px;
}

.body {
    color: white;
    background-color: black; 
    min-height: 100vh;
}

.fondoProducto {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url("../fotos/fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.fondoCarrito {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url("../fotos/fondocarrito.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.fondoTienda {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../fotos/fondoTienda.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
}