.header {
    position: fixed;
    width: 100%;
    box-shadow: 0px 0px 7px 1px white;
    z-index: 10;

    .barraNavegacion {
        background-color: #121212;
        height: 70px;
        align-items: center;
        text-align: center;

        a {
            text-decoration: none;
            color: rgb(194, 189, 189);
            padding: 15px;
        }

        a:hover {
            color: white;
        }

        i {
            width: 80px;
            height: 80px;
        }

        .elementos {
            margin-bottom: 10px;

            a {
                margin-left: 10px;
            }
        }
    }
}

@media all and (max-width:728px){
    .barraNavegacion {
        min-height: 130px ;
    }

    .espacio {
        min-height: 130px ;
    }

    .txtIndex {
        font-size: x-small;
    }

    .sideBarTienda {
        margin-top: 80px;
    }

    .productos {
        margin-top: 90px;
    }
    
}

@media all and (max-width:576px){
    .barraNavegacion {
        min-height: 160px ;
    }

    .espacio {
        min-height: 160px ;
    }
    .logo {
        display: none;
    }
}