@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  font-family: 'Poppins', sans-serif;
  font-size: 15px; }

.header {
  position: fixed;
  width: 100%;
  box-shadow: 0px 0px 7px 1px white;
  z-index: 10; }
  .header .barraNavegacion {
    background-color: #121212;
    height: 70px;
    align-items: center;
    text-align: center; }
    .header .barraNavegacion a {
      text-decoration: none;
      color: #c2bdbd;
      padding: 15px; }
    .header .barraNavegacion a:hover {
      color: white; }
    .header .barraNavegacion i {
      width: 80px;
      height: 80px; }
    .header .barraNavegacion .elementos {
      margin-bottom: 10px; }
      .header .barraNavegacion .elementos a {
        margin-left: 10px; }

@media all and (max-width: 728px) {
  .barraNavegacion {
    min-height: 130px; }

  .espacio {
    min-height: 130px; }

  .txtIndex {
    font-size: x-small; }

  .sideBarTienda {
    margin-top: 80px; }

  .productos {
    margin-top: 90px; } }
@media all and (max-width: 576px) {
  .barraNavegacion {
    min-height: 160px; }

  .espacio {
    min-height: 160px; }

  .logo {
    display: none; } }
.main {
  width: 100%;
  /* brighten selected image */
  /* brighten selected text */
  /* buttons, no circle */
  /* arrow color */
  /* closer to edge */
  /* hide disabled button */
  /* Ponemos un color de fondo y redondeamos las esquinas del track */
  /* Cambiamos el fondo cuando esté en active o hover */ }
  .main .buscador {
    display: none;
    margin: auto;
    width: 50%;
    justify-content: center; }
    .main .buscador input {
      width: 100%;
      height: 40px;
      border-radius: 10px;
      border: none;
      font-size: 13px;
      background-color: rgba(255, 251, 255, 0.755);
      font-weight: bold;
      color: black; }
    .main .buscador input:focus {
      outline: none; }
  .main img {
    width: 100%; }
  .main .txtIndex {
    text-align: center;
    padding-top: 50px;
    font-size: 50px; }
  .main .zoom {
    transition: transform 0.2s ease; }
  .main .zoom:hover {
    transform: scale(1.02); }
  .main .carrouselFotos {
    margin-top: 10px; }
  .main .fotoZoom {
    transform: scale(1.5); }
  .main * {
    box-sizing: border-box; }
  .main body {
    font-family: sans-serif; }
  .main .carousel {
    background: black; }
  .main .carousel2 {
    background-color: transparent; }
  .main .carousel-cell {
    width: 70%;
    height: 200px;
    /* flex-box, center image in cell */
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center; }
  .main .carousel-cell img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    /* dim unselected */
    opacity: 0.7;
    -webkit-transform: scale(0.85);
    transform: scale(0.85);
    -webkit-filter: blur(5px);
    filter: blur(5px);
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s, transform 0.3s, -webkit-filter 0.3s, filter 0.3s;
    transition: opacity 0.3s, transform 0.3s, filter 0.3s; }
  .main .carousel-cell.is-selected img {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: none;
    filter: none; }
  .main .carousel-cell a {
    text-decoration: none; }
  .main .carousel-cell p {
    display: block;
    max-width: 100%;
    max-height: 100%;
    /* dim unselected */
    opacity: 0.7;
    -webkit-transform: scale(0.85);
    transform: scale(0.85);
    -webkit-filter: blur(5px);
    filter: blur(5px);
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s, transform 0.3s, -webkit-filter 0.3s, filter 0.3s;
    transition: opacity 0.3s, transform 0.3s, filter 0.3s; }
  .main .carousel-cell.is-selected p {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: none;
    filter: none; }
  @media screen and (min-width: 768px) {
    .main .carousel-cell {
      height: 400px; } }
  @media screen and (min-width: 960px) {
    .main .carousel-cell {
      width: 60%; } }
  .main .flickity-prev-next-button {
    width: 60px;
    height: 60px;
    background: transparent;
    opacity: 0.6; }
  .main .flickity-prev-next-button:hover {
    background: transparent;
    opacity: 1; }
  .main .flickity-prev-next-button .arrow {
    fill: white; }
  .main .flickity-prev-next-button.no-svg {
    color: white; }
  .main .flickity-prev-next-button.previous {
    left: 0; }
  .main .flickity-prev-next-button.next {
    right: 0; }
  .main .flickity-prev-next-button:disabled {
    display: none; }
  .main .especificaciones {
    max-height: 100%; }
  .main .especificaciones::-webkit-scrollbar-track {
    background: #e1e1e1;
    border-radius: 4px; }
  .main .especificaciones::-webkit-scrollbar-track:hover,
  .main .especificaciones::-webkit-scrollbar-track:active {
    background: #d4d4d4; }

#caracteristicasTitulo {
  margin-right: 100px; }

.caracteristicasEscribir {
  font-size: 18px;
  line-height: 33px; }

.contenidoTienda {
  display: flex;
  flex-flow: row nowrap; }

.sideBarTienda {
  display: flex;
  flex-flow: column wrap;
  flex: 1 1 auto;
  background-color: rgba(10, 71, 157, 0.247);
  padding-top: 70px;
  padding-right: 30px;
  min-width: 400px;
  min-height: 100vh; }
  .sideBarTienda .itemTitulo {
    text-align: left;
    margin-left: 25px;
    margin-top: 20px;
    font-size: 30px;
    margin-bottom: 20px; }
  .sideBarTienda .item {
    margin-left: 25px;
    margin-bottom: 20px; }
    .sideBarTienda .item :focus {
      outline: none; }

.productos {
  padding-left: 75px;
  padding-top: 90px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  flex: 5 1 auto;
  color: #930303;
  font-size: 20px;
  width: 1500px;
  min-height: 830px; }
  .productos .producto {
    color: white;
    text-decoration: none;
    margin: 50px;
    text-align: center; }
  .productos .divProducto {
    margin: auto;
    display: flex;
    height: 200px;
    width: 350px;
    border-radius: 15px;
    justify-content: center; }
  .productos .fotoProducto {
    height: 100%;
    border-radius: 15px; }

.btnPaginas {
  margin-left: 78%; }

.toast {
  width: 50px; }

.productosCarrito {
  display: flex;
  align-items: start;
  flex-flow: row wrap;
  justify-content: start;
  font-size: 0px; }
  .productosCarrito .producto {
    display: flex;
    flex-flow: row wrap;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin: 20px;
    text-align: center; }
  .productosCarrito .divProducto {
    margin: auto;
    display: flex;
    flex-flow: column wrap;
    height: 200px;
    width: 350px;
    border-radius: 15px; }
  .productosCarrito .fotoProducto {
    height: 80%;
    border-radius: 15px; }
  .productosCarrito p {
    line-height: 40px;
    height: 100%; }

@media all and (max-width: 1400px) {
  .productosCarrito {
    justify-content: center; } }
@media all and (max-width: 768px) {
  .productosCarrito .producto {
    justify-content: center;
    align-items: center; } }
footer button {
  width: 10%; }
footer i {
  font-size: 25px;
  color: rgba(240, 248, 255, 0.53); }
footer button:hover i {
  color: white; }

* {
  max-width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.espacio {
  height: 70px; }

.interEspaciado {
  height: 20px; }

.body {
  color: white;
  background-color: black;
  min-height: 100vh; }

.fondoProducto {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url("../fotos/fondo.jpg");
  background-repeat: no-repeat;
  background-size: cover; }

.fondoCarrito {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url("../fotos/fondocarrito.jpg");
  background-repeat: no-repeat;
  background-size: cover; }

.fondoTienda {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../fotos/fondoTienda.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%; }

/*# sourceMappingURL=styles.css.map */
